            body {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            select {
                margin-top: 16px;
            }
            
            #div1 {
                margin-left: 21px;
                margin-bottom: 10px;
            }
            
            #div3 {
                margin-left: 16px;
                margin-top: 10px;
            }
            
            #div5 {
                margin: 5px;
            }